.point h4{
    margin-top: -17px;
    background-color: yellow;
}

#tabless {
    width: 95%;
    height: 50%;
    margin: 10px 0px;
    overflow-y: auto;
}

#errs_head {
    width: 50%;
    float: left;
}
#errs2_head {
    width: 40%;
    float: left;
}

#errs {
    width: 50%;
    height: 20%;
    margin: 10px 0px;
    overflow-y: auto;
    float: left;
}

#errs2 {
    width: 40%;
    height: 20%;
    margin: 10px 0px;
    overflow-y: auto;
    float: left;
}