{% extends 'basc.html' %}
{% block head %}

{% endblock %}
{% block content %}
    <h2>总账单</h2>
    <hr>
    <form class="form-inline" id="check_data" method="post">
        <div class="form-group">
            <label for="exampleInputName2">日期:</label>
            <input type="date" class="form-control" value="{{ now_time }}" name="search_date" id="search_date" onchange="cheage_down()">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">付款类型:</label>
            <select name="payment_type" id="payment_type" class="form-control" onchange="cheage_down()">
                <option value="本金">本金</option>
                <option value="佣金">佣金</option>
                <option value="买家秀">买家秀</option>
                <option value="问大家">问大家</option>
                <option value="优惠反差">优惠反差</option>
                <option value="快递费">快递费</option>
                <option value="手续费">手续费</option>
                <option value="删评价">删评价</option>
                <option value="收藏">收藏、加购</option>
                <option value="刮刮卡">刮刮卡</option>
                <option value="直通车点击">直通车点击</option>
                <option value="返款">返款</option>
                <option value="其他">其他</option>
            </select>
        </div>
        <input type="submit" value="查询" class="btn btn-default">
        <a href="" id="down"><input type="button" value="按日下载" class="btn btn-default"></a>
        <a href="" id="down2"><input type="button" value="按月下载" class="btn btn-default"></a>
        {% csrf_token %}
    </form>
    <br>
    <div id="tabless">
        <table class="table table-striped">
            <tr>
                <th>序号</th>
                <th>店铺</th>
                <th>旺旺号</th>
                <th>线上订单号</th>
                <th>成交日期</th>
                <th>付款类型</th>
                <th>付款金额</th>
                <th>付款账户</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>操作人</th>
            </tr>
            {% for table in tables %}
                <tr id="{{ forloop.counter }}">
                    <td id="num">{{ forloop.counter }}</td>
                    <td>{{ table.shopname }}</td>
                    <td>{{ table.wang_wang_number }}</td>
                    <td>{{ table.online_order_number }}</td>
                    <td>{{ table.transaction_data }}</td>
                    <td>{{ table.payment_type }}</td>
                    <td>{{ table.payment_amount }}</td>
                    <td>{{ table.payment_account.account_name }}</td>
                    <td>{{ table.remarks }}</td>
                    <td>{{ table.add_time }}</td>
                    <td>{{ table.operator.username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <h3 class="col-lg-offset-10">店铺花销：<span id="pay">{{ pay_money }}</span>
    </h3>
{% endblock %}
{% block js %}
    {#下载#}
    <script>
        var search_date = $('#search_date').val();
        var payment_type = $('#payment_type').val();
        var down_url = '/down_all_data/?check_data=' + search_date + '&payment_type=' + payment_type;
        var down_url2 = '/down_all_data2/?check_data=' + search_date + '&payment_type=' + payment_type;
        $('#down').attr('href', down_url);
        $('#down2').attr('href', down_url2);

        function cheage_down() {
            var search_date = $('#search_date').val();
            var search_shop = $('#shop_name').val();
            var down_url = '/down_all_data/?check_data=' + search_date + '&payment_type=' + search_shop;
            var down_url2 = '/down_all_data2/?check_data=' + search_date + '&payment_type=' + search_shop;
            $('#down').attr('href', down_url);
            $('#down2').attr('href', down_url2);
        }
    </script>
{% endblock %}