{% extends 'basc2.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/check_account.css">
{% endblock %}
{% block content %}
    <form class="form-inline" id="check_data" method="post">
        <div class="form-group">
            <label for="exampleInputName2">日期:</label>
            <input type="date" class="form-control" value="{{ now_time }}" name="check_data">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">账户名:</label>
            <select name="payment_account" id="payment_account" class="form-control">
                {% for acc in account %}
                    <option value="{{ acc.account_name }}">{{ acc.account_name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="核对" class="btn btn-default">
        {% csrf_token %}
    </form>
    <br>
    <hr>
    <div id="tabless">
        <table class="table table-striped">
            <tr>
                <th>序号</th>
                <th>店铺</th>
                <th>QQ或微信</th>
                <th>旺旺号</th>
                <th>线上订单号</th>
                <th>成交日期</th>
                <th>付款类型</th>
                <th>付款金额</th>
                <th>付款账户</th>
                <th>备注</th>
                <th>创建(修改)时间</th>
                <th>操作人</th>
                <th>操作</th>
            </tr>

            {% for table in tables %}
                <tr id="{{ forloop.counter }}">
                    <td id="num">{{ forloop.counter }}</td>
                    <td>{{ table.shopname }}</td>
                    <td>{{ table.qq_or_weixin }}</td>
                    <td>{{ table.wang_wang_number }}</td>
                    <td>{{ table.online_order_number }}</td>
                    <td>{{ table.transaction_data }}</td>
                    <td>{{ table.payment_type }}</td>
                    <td>{{ table.payment_amount }}</td>
                    <td>{{ table.payment_account.account_name }}</td>
                    <td>{{ table.remarks }}</td>
                    <td>{{ table.add_time }}</td>
                    <td>{{ table.operator.username }}</td>
                    {% if user == table.operator.username %}
                        <td><a class="glyphicon glyphicon-pencil" href="javascript:void(0);" onclick="edit_data({{ table.id }},this)" title="编辑"
                               id="bsd"></a>
                            <a class="glyphicon glyphicon-remove" href="javascript:void(0);" onclick="delete_data({{ table.id }},this)" title="删除"
                               id="dele"></a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {#修改数据的模态框#}
    {#    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="edit_model">#}
    <div class="modal fade" tabindex="-1" role="dialog" id="edit_model">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改喝酒数据</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="update_form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">店铺名</label>
                            <div class="col-sm-9">
                                <select name="shopname" class="form-control" id="update_shopname">
                                    {% for shopss in shops %}
                                        <option value="{{ shopss }}">{{ shopss }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">QQ或微信</label>
                            <div class="col-sm-9">
                                {{ edit_brush_form.qq_or_weixin }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">旺旺号</label>
                            <div class="col-sm-9">
                                {{ edit_brush_form.wang_wang_number }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">线上订单号</label>
                            <div class="col-sm-9">
                                {{ edit_brush_form.online_order_number }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">成交日期</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="update_transaction_data" name="transaction_data">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">付款类型</label>
                            <div class="col-sm-9">
                                <select name="payment_type" id="update_payment_type" class="form-control">
                                    <option value="本金">本金</option>
                                    <option value="佣金">佣金</option>
                                    <option value="买家秀">买家秀</option>
                                    <option value="问大家">问大家</option>
                                    <option value="优惠反差">优惠反差</option>
                                    <option value="快递费">快递费</option>
                                    <option value="手续费">手续费</option>
                                    <option value="删评价">删评价</option>
                                    <option value="收藏">收藏</option>
                                    <option value="刮刮卡">刮刮卡</option>
                                    <option value="加购">加购</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">付款金额</label>
                            <div class="col-sm-9">
                                {{ edit_brush_form.payment_amount }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">付款账户</label>
                            <div class="col-sm-9">
                                <select name="payment_account" id="update_payment_account" class="form-control">
                                    {% for acc in account %}
                                        <option value="{{ acc.account_name }}">{{ acc.account_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="update_remarks" placeholder="备注" name="remarks">
                                <input type="text" id="update_ids" value="" name="id">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-10">
                                <button type="submit" class="btn btn-default" onclick="make_sure()">确认修改</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>



    <h3 class="col-lg-offset-8">喝酒花销：<span id="pay">{{ pay_money }}</span></h3>
    <h3 class="col-lg-offset-8">账户差额：<span id="actual" style="color: red">{{ actual_cost }}</span>
    <input type="button" onclick="make()" value="核对确认" class="btn btn-info col-lg-offset-8" id="make">

{% endblock %}
{% block js %}
    <script>
    var errs = '{{ errs }}';
    if (errs != ''){
        alert(errs)
    }
    </script>
    <script>
        $('#update_ids').hide();
        $('#make').hide()
        var pay = $('#pay').text();
        var actual = $('#actual').text();
        if (pay == actual) {
            $('#make').show();
        }
        else {
            if (actual == '') {
                $('#actual').append('&nbsp;&nbsp;&nbsp;&nbsp;<span id="errsss" >账目有问题，请仔细核对</span>')
            }

        }
        if ('{{ unmakes }}' == 0) {
            console.log('{{ unmakes }}')
            $('#make').attr("value", "已确认");
            $('#make').prop("disabled", true);
        }
        else {
            $('#make').attr("value", "核对确认");
            $('#make').prop("disabled", false);
        }
    </script>
    <script>
        $("#payment_account").find("option").each(function () {
            var ff = '{{ payment_account }}';
            if ($(this).val() == ff) {
                $(this).attr("selected", "selected");
            }
        });
    </script>
    <script>
        function make() {
            $.ajax({
                url: "/make_account/",
                type: "GET",
                dataType: 'json',
                data: $('#check_data').serialize(),
                async: true,
                success: function (arg) {
                    $('#make').attr("value", "已确认");
                    $('#make').prop("disabled", true);
                    window.location.replace('/check_account/');
                }
            })
        }
    </script>
    {#修改数据#}
    <script>
        function edit_data(mm, sd) {
            var kj = $(sd).parent().parent().attr('id');
            $.ajax({
                url: "/edit/",
                type: "GET",
                dataType: 'json',
                data: {'id': mm, 'num': kj},
                async: true,
                success: function (arg) {
                    $("#update_shopname").find("option").each(function () {
                        if ($(this).val() == arg['shopname']) {
                            $(this).attr("selected", "selected");
                        }
                    });
                    $('#update_qq_or_weixin').attr('value', arg['qq_or_weixin']);
                    $('#update_wang_wang_number').attr('value', arg['wang_wang_number']);
                    $('#update_online_order_number').attr('value', arg['online_order_number']);
                    $('#update_transaction_data').attr('value', arg['transaction_data']);
                    $("#update_payment_type").find("option").each(function () {
                        if ($(this).val() == arg['payment_type']) {
                            $(this).attr("selected", "selected");
                        }
                    });
                    $('#update_payment_amount').attr('value', arg['payment_amount']);
                    $("#update_payment_account").find("option").each(function () {
                        if ($(this).val() == arg['payment_account']) {
                            $(this).attr("selected", "selected");
                        }
                    });
                    $('#update_remarks').attr('value', arg['remarks']);
                    $('#update_ids').attr('value', arg['ids']);
                    $('#edit_model').modal('show');
                },

            })
        }
    </script>
    {#确定修改数据#}
    <script>
        function make_sure() {
            $.ajax({
                url: "/edit/",
                type: "POST",
                dataType: 'json',
                data: $('#update_form').serialize(),
                async: false,
                success: function () {
                    window.location.replace('/check_account/');
                }
            })
        }
    </script>
    {#删除数据#}
    <script>
        function delete_data(mm, sd) {
            $.ajax({
                url: "/deletes/",
                type: "GET",
                dataType: 'json',
                data: {'id': mm},
                async: true,
                success: function () {
                    window.location.reload()
                }
            })
            window.location.reload()
        }
    </script>

{% endblock %}
